<robot name = "robot">
    <link name="0">
        <inertial>
            <origin xyz="0 0 2.166789955689822" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 2.166789955689822" rpy="0 0 0"/>
            <geometry>
                <box size="0.2667356161825226 0.2233242842883108 0.3335799113796443" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 2.166789955689822" rpy="0 0 0"/>
            <geometry>
                <box size="0.2667356161825226 0.2233242842883108 0.3335799113796443" />
            </geometry>
        </collision>
    </link>
    <joint name="0_1" type="revolute">
       <parent link="0"/>
       <child  link="1"/>
       <origin rpy="0 0 0" xyz="0 0 2" />
     <axis xyz="1 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="1">
        <inertial>
            <origin xyz="0 0 -0.13889500910599306" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.13889500910599306" rpy="0 0 0"/>
            <geometry>
                <box size="0.9883767212222432 0.6036807340232548 0.2777900182119861" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.13889500910599306" rpy="0 0 0"/>
            <geometry>
                <box size="0.9883767212222432 0.6036807340232548 0.2777900182119861" />
            </geometry>
        </collision>
    </link>
    <joint name="1_2" type="revolute">
       <parent link="1"/>
       <child  link="2"/>
       <origin rpy="0 0 0" xyz="0 -0.3018403670116274 -0.13889500910599306" />
     <axis xyz="1 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="2">
        <inertial>
            <origin xyz="0 -0.3211220512602282 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.3211220512602282 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.8500906478764922 0.6422441025204564 0.8882968968414546" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.3211220512602282 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.8500906478764922 0.6422441025204564 0.8882968968414546" />
            </geometry>
        </collision>
    </link>
    <joint name="0_3" type="revolute">
       <parent link="0"/>
       <child  link="3"/>
       <origin rpy="0 0 0" xyz="-0.2862066794284255 0 2.2158369317626456" />
     <axis xyz="0 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="3">
        <inertial>
            <origin xyz="-0.2862066794284255 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.2862066794284255 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.572413358856851 0.6417093450617092 0.43167386352529125" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.2862066794284255 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.572413358856851 0.6417093450617092 0.43167386352529125" />
            </geometry>
        </collision>
    </link>
    <joint name="2_4" type="revolute">
       <parent link="2"/>
       <child  link="4"/>
       <origin rpy="0 0 0" xyz="0 -0.3211220512602282 0.4441484484207273" />
     <axis xyz="1 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="4">
        <inertial>
            <origin xyz="0 0 0.37947993780310507" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0.37947993780310507" rpy="0 0 0"/>
            <geometry>
                <box size="0.21585985032971183 0.36164653387620893 0.7589598756062101" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0.37947993780310507" rpy="0 0 0"/>
            <geometry>
                <box size="0.21585985032971183 0.36164653387620893 0.7589598756062101" />
            </geometry>
        </collision>
    </link>
    <joint name="3_5" type="revolute">
       <parent link="3"/>
       <child  link="5"/>
       <origin rpy="0 0 0" xyz="-0.2862066794284255 0.3208546725308546 0" />
     <axis xyz="1 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="5">
        <inertial>
            <origin xyz="0 0.367804605893712 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.367804605893712 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.8276449465563911 0.735609211787424 0.21095817170796327" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.367804605893712 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.8276449465563911 0.735609211787424 0.21095817170796327" />
            </geometry>
        </collision>
    </link>
    <joint name="1_6" type="revolute">
       <parent link="1"/>
       <child  link="6"/>
       <origin rpy="0 0 0" xyz="-0.4941883606111216 0 -0.13889500910599306" />
     <axis xyz="0 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="6">
        <inertial>
            <origin xyz="-0.31300163461020475 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.31300163461020475 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.6260032692204095 0.3942992242897835 0.6079662062907216" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.31300163461020475 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.6260032692204095 0.3942992242897835 0.6079662062907216" />
            </geometry>
        </collision>
    </link>
    <joint name="1_7" type="revolute">
       <parent link="1"/>
       <child  link="7"/>
       <origin rpy="0 0 0" xyz="0 0.3018403670116274 -0.13889500910599306" />
     <axis xyz="1 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="7">
        <inertial>
            <origin xyz="0 0.12142654982718058 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.12142654982718058 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.7260553201284698 0.24285309965436117 0.7326521691187498" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.12142654982718058 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.7260553201284698 0.24285309965436117 0.7326521691187498" />
            </geometry>
        </collision>
    </link>
    <joint name="1_8" type="revolute">
       <parent link="1"/>
       <child  link="8"/>
       <origin rpy="0 0 0" xyz="0 0 -0.2777900182119861" />
     <axis xyz="1 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="8">
        <inertial>
            <origin xyz="0 0 -0.4042860322262599" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.4042860322262599" rpy="0 0 0"/>
            <geometry>
                <box size="0.6272527797792549 0.5396292011767196 0.8085720644525198" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.4042860322262599" rpy="0 0 0"/>
            <geometry>
                <box size="0.6272527797792549 0.5396292011767196 0.8085720644525198" />
            </geometry>
        </collision>
    </link>
    <joint name="3_9" type="revolute">
       <parent link="3"/>
       <child  link="9"/>
       <origin rpy="0 0 0" xyz="-0.2862066794284255 0 -0.21583693176264562" />
     <axis xyz="1 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="9">
        <inertial>
            <origin xyz="0 0 -0.44525736838784535" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.44525736838784535" rpy="0 0 0"/>
            <geometry>
                <box size="0.293351326562009 0.3759917096181371 0.8905147367756907" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.44525736838784535" rpy="0 0 0"/>
            <geometry>
                <box size="0.293351326562009 0.3759917096181371 0.8905147367756907" />
            </geometry>
        </collision>
    </link>
</robot>